// variables.scss
// by Kadar Claudiu
// https://karma.kadarclaudiu.ro/

// Here will be all variables for this project.

$karma-color-dark: 			#000;
$karma-color-light: 		#fff;
$karma-color-main:			#ff9800;
$karma-font: 				'Roboto' , Helvetica , Arial , sans-serif;

$karma-color--blue:			#2196F3;
$karma-color--red:			#F44336;
$karma-color--pink:			#E91E63;
$karma-color--green:		#4CAF50;
$karma-color--yellow:		#FFD600;
$karma-color--gray:			#9E9E9E;
$karma-color--black:		#000000;
$karma-color--cyan:			#00BCD4;
$karma-color--teal:			#009688;
$karma-color--white:		#ffffff;